In [1]:
import numpy as np
import pandas as pd

In [2]:
roll_number = 23  
np.random.seed(roll_number)

In [3]:
sales_data = np.random.randint(1000, 5001, size=(12, 4))

In [4]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
columns = ['Electronics', 'Clothing', 'Home & Kitchen', 'Sports']

df = pd.DataFrame(sales_data, index=months, columns=columns)
df.head()

     Electronics  Clothing  Home & Kitchen  Sports
Jan         1595      1742            2064    2993
Feb         3998      2512            3079    3285
Mar         4532      1347            1039    4674
Apr         1665      4078            2915    4501
May         2548      1049            4778    3507

In [5]:
print(df.head())
print(df.describe())

     Electronics  Clothing  Home & Kitchen  Sports
Jan         1595      1742            2064    2993
Feb         3998      2512            3079    3285
Mar         4532      1347            1039    4674
Apr         1665      4078            2915    4501
May         2548      1049            4778    3507
       Electronics     Clothing  Home & Kitchen       Sports
count    12.000000    12.000000       12.000000    12.000000
mean   3024.000000  2786.333333     3056.166667  3042.666667
std    1281.091651  1401.709108     1196.443353   964.617242
min    1214.000000  1049.000000     1039.000000  1533.000000
25%    1689.750000  1657.250000     2346.750000  2716.000000
50%    3091.500000  2364.000000     2997.000000  3053.500000
75%    4030.750000  4150.750000     3819.250000  3340.500000
max    4781.000000  4983.000000     4795.000000  4674.000000

In [6]:

total_sales_category = df.sum()


total_sales_month = df.sum(axis=1)

In [7]:
sales_growth = df.pct_change().mean() * 100

In [8]:
df['Total Sales'] = df.sum(axis=1)
df['Growth Rate (%)'] = df['Total Sales'].pct_change() * 100

In [10]:
if roll_number % 2 == 0:
    df['Electronics'] *= 0.90  
else:
    df['Clothing'] *= 0.85

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns


plt.figure(figsize=(12, 6))
for col in columns:
    plt.plot(df.index, df[col], marker='o', label=col)
plt.title('Monthly Sales Trends')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.legend()
plt.grid(True)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Monthly sales trends
plt.figure(figsize=(12, 6))
for col in columns:
    plt.plot(df.index, df[col], marker='o', label=col)
plt.title('Monthly Sales Trends')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.legend()
plt.grid(True)
plt.show()